@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Roboto:wght@100;400;700;900&family=Vollkorn&display=swap');

* {
  margin     : 0;
  padding    : 0;
  overflow   : hidden;
  font-family: 'Lato', sans-serif;
}

.tick line {
  stroke: #C0C0BB;
}

.tick text {
  fill: #635F5D;
}

.marks circle {
  fill: #459ea3;
}

.marks .land {
  fill: #c2cacb;
}

.marks .sphere {
  fill: #ececec;
}

.marks .interiors {
  fill  : none;
  stroke: #8aa8aa;

}

.marks .graticule {
  fill  : none;
  stroke: #ebdfdb;

}

circle {
  fill   : #137B80;
  opacity: 50%;
}

.label-text {
  font-size: 1.9em;
  fill     : #635F5D;
}