@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora&family=Roboto:wght@100;400;700;900&family=Vollkorn&display=swap');

* {
  margin     : 0;
  padding    : 0;
  overflow   : hidden;
  font-family: 'Lato', sans-serif;
}

.dropdown-container {
  display    : flex;
  align-items: center;
  margin-left: 3.4rem;

}

.d-container {
  margin    : 0 3rem;
  margin-top: 2rem;
}

label {
  margin-right: .5rem;
  font-size   : 1.8rem;
  color       : #635F5D;
  ;
}

select {
  font-size: 1.6rem;
  padding  : 0.2rem 1.5rem;
  color    : #635F5D;

}

select option {
  font-size: 1.4rem;
}

.tick line {
  stroke: #C0C0BB;
}

.tick text {
  fill: #635F5D;
}


.label-text {
  font-size: 1.7em;
  fill     : #635F5D;
}